
body {
    width:800px;
    height:500px;
    margin: 0 auto;
    font-family: "playpen sans";
}

.hidden{
    display: none;
}

#drawingCanvas{
    border: 2px solid blue;
    width:800px; 
    height:500px;
}

.background {
    height: 500px;
    width: 800px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    pointer-events: auto;
    position: relative;
}

.background.index {
    background-image: url("/imgs/startBackground.png");
}

.background.intro {
    background-image: url("/imgs/blueBackground.png");
}

#start-button {
    font-size: 30px;
    background-color: white;
    border-radius: 20px;
    text-align: center;
    cursor: pointer;
    width: 100px;
    position: absolute;
    bottom: 10px;
    right: 30px;
}

.button {
    font-size: 30px;
    background-color: white;
    border-radius: 20px;
    text-align: center;
    cursor: pointer;
    width: 100px;
    position: absolute;
}
#room1button {
    top: 0px;
    right: 30px;
}

#room2button {
    top: 0px;
    right: 190px;

}


#characterTalking {
    height: 204px;
    width: 164px;
    position: absolute;
    left: 20px;
    bottom: 0px;
    background-image: url('/imgs/character.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

#pigeonFlapping {
    height: 175px;
    width: 175px;
    position: absolute;
    right: 30px;
    top: 30px;
    background-image: url('/imgs/pigeonFlapping.gif');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    animation: pigeonFlapping 4s ease-in-out 0s infinite;
}

@keyframes pigeonFlapping {
    0%{top: 30px;}
    50%{top: 60px;}
    100%{top: 30px;}
}

#speechBubble {
    height: 100px;
    width: 500px;
    position: absolute;
    font-size: 20px;
    background-color: white;
    bottom: 20px;
    right: 20px;
    padding: 20px;
    border-radius: 20px;
}

#clay1, #clay2, #clay3 {
    position: absolute;
    cursor: grab;
}

.clay {
    position: absolute;
    cursor: grab;
}

.clay img {
    pointer-events: none;
    height: 100px;
}

.background.room3{
    background-image: url('/imgs/clayBackground.png');
}